/* kontennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
body{
    overflow-x: hidden;
}

h1{
    font-family: 'Raleway';
    font-size: 70px;
}
h2{
    font-family: 'Raleway';
    font-size: 50px;
}

p{
    font-family: 'Poppins';
    font-size: 24px;
}

.kotak-grid {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "pembuat"
    "thanks-to";
}

.pembuat {  display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "kiri gambar kanan";
    grid-area: pembuat;
}

.kiri { grid-area: kiri; }

.gambar { grid-area: gambar; }

.kanan { grid-area: kanan; }

.thanks-to { grid-area: thanks-to; }

/* sendiriiiiiiiiiiiiiiiiiiii */
.kotak-grid{
    margin-top: 30px;
}

.gambar{
    text-align: center;
    align-self: center;
}
.gambar img{
    width: 30%;
    border-radius: 100%;
}

.container{
    padding-top: 100px;
}

.thanks-to{
    padding: 100px 5% 0 5%;
}

.sosmed{
    width: 100%;
    display: flex;
    justify-content: center;
}

.email, .instagram, .youtube, .facebook, .kosong{
    flex: 1;
}

.sosmed a {
    display: inline-block;
    font-size: 24px;
}

.sosmed a i.link{
    padding: 2px 10px;
    font-size: 30px;
    color: #55B859;
    transition-duration: 0.3s;
}

.sosmed a i.link:hover{
    transform: scale(1.2);
}

/* tombollllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
.style-center{
    text-align: center;
}

.tombol.login{
    margin-left: 0;
}

.tombol a{
    display: inline-block;
    background-color: #55B859;
    color: white;
    height: fit-content;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
    margin: 20px 0 0 5%;
}


@media only screen and (max-width:900px) {

    h2{
        font-size: 50px;
    }
}

@media only screen and (max-width:768px) {
    .gambar img{
        width: 40%;
    }
    
    h1{
        font-size: 55px;
    }

    p{
        font-size: 18px;
    }

    .tombol a{
        font-size: 16px;
    }
}

@media only screen and (max-width:576px) {
    .gambar img{
        width: 50%;
        border-radius: 100%;
    }
    
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 35px;
    }
    p{
        font-size: 16px;
    }

    .tombol a{
        font-size: 14px;
    }
}